body {
    padding: 0;
    margin: 0;
}

header {
    background-color: #2f2f2f;
    height: 150px;
    width: auto;
    padding: 5px;
}


/*the nav-bar  */

.nav-fixed{
  background-color: #2f2f2f;
  height: 20px;
  width: auto;
  padding: 5px;
  position: fixed;
  width: 100%;
}

.left{
  float: right;
  margin-right: 15px;
}

ul.list li {
    display: inline-block;
}

.list li {
    color: #fff;
    margin-left: 30px;
    position: relative;
    top: 110px;
}

.list {
    margin: auto;
    width: 900px;
}

.blue {
    width: auto;
    height: 50px;
    background-color: blue;
    padding: 10px;
}

#blue1 {
    margin: auto;
    width: 900px;
}
.nav-stick{
  background-color: #000;
  height: 30px;
  width: auto;
}
.right{
  float: right;
}
#logo{
  height: 30px;
}
.left{
  float: left;
}

.gray {
    width: auto;
    height: 30px;
    background-color: gray;
    padding: 5px;
    padding-left: 220px;
}

.gray1{
  display: inline-block;
  margin-left: 10px;
  font-size: 18px;
  color: #2f2f2f;
}


/*style the container  */

.container {
    margin: auto;
    width: 900px;
    background-color: whitesmoke;
    height: auto;
}

.wrap{
      margin: auto;
      width: 900px;
      background-color: whitesmoke;
      height: auto;
      padding-top: 15px;
}
/*style the feature  N/B remember to change color*/

.top {
    background-color: gray;
    height: 50px;
}

ul.links li {
    display: inline-block;
}

.links li {
    margin-left: 20px;
    margin-top: 20px;
}

/* .blue1{
  font-size: 18px;
  display: inline-block;
  margin-right: 10px;
} */

/*style the col  */

.col {
    border: 2px solid black;
    width: 100%;
    height: 200px;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.row {
    border: 1px solid green;
    width: 30%;
    height: 200px;
    display: inline-block;
    margin-left: 20px;
}

footer {
    background-color: black;
    height: 50px;
    width: auto;
}
/*Big Screens*/


@media only screen and (max-width: 800px) {
  .wrap{
    width: 700px;
  }
  .row{
    width: 95%;
  }
  .list {
      margin-left: 10px;
      position: relative;
      bottom: 60px;
      right: 38px;
  }
  .list li {
      color: white;
      margin-left: 45px;
      padding-left: 2px;
      position: relative;
      top: 110px;
  }
  .container {
      margin: auto;
      width: 100%;
      background-color: whitesmoke;
      height: auto;
  }
}

/* Really Small Screens */

@media only screen and (max-width: 360px) {

  .gray{
    padding-left: 0px;
  }
  .gray1{
    width: 150px;
    display: inline;
  }
  .wrap{
    width: 280px;
  }
  .col,
    .row {
        width: 100%;
        margin: auto;
    }
    #view{
      display: none;
    }
    .list {
        margin-left: 10px;
        position: relative;
        bottom: 60px;
        right: 38px;
    }
    .list li {
        color: white;
        margin-left: 45px;
        padding-left: 2px;
        position: relative;
        top: 110px;
    }
    .container {
        margin: auto;
        width: 100%;
        background-color: whitesmoke;
        height: auto;
    }
}



@media only screen and (max-width: 756px) {
    .row {
        background-color: lightblue;
    }
}
